# **Exploratory Data Analysis (EDA) - Operações de Financiamento**
<br><br>

## **Explicação dos dados** <br>

Informações detalhadas de operações que não foram aprovadas automaticamente.<br>

Operações contratadas diretamente com o BNDES e operações contratadas via agente financeiro (indiretas) que foram revisadas por analistas do BNDES. O critério principal para seja feita análise manual de operações indiretas é o valor.<br>

Operações indiretas são contratadas através de um Agente Financeiro que avalia o crédito do cliente, cobra um spread acima da taxa do BNDES e assume os riscos da operação.<br>

### **Fonte**:

[Site do BNDES](https://dadosabertos.bndes.gov.br/dataset/operacoes-financiamento/resource/332d446e-d340-46ef-af64-ee6f36e7bd50)

## **Importa bibliotecas**

In [126]:
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter(action='ignore')

pd.set_option('display.float_format', '{:,.2f}'.format)

## **Importa dados como um DataFrame do Pandas**

In [164]:
n_auto = pd.read_csv("./data/operacoes-nao-automaticas.zip", 
                    encoding= "UTF-8", 
                    sep = ";", 
                    decimal = ",")

auto = pd.read_csv("./data/operacoes-indiretas-automaticas.zip", 
                    encoding= "UTF-8", 
                    sep = ";", 
                    decimal = ",")

n_auto.head(5)

,cliente,cnpj,descricao_do_projeto,uf,municipio,municipio_codigo,numero_do_contrato,data_da_contratacao,valor_contratado_reais,valor_desembolsado_reais,...,subsetor_cnae_nome,setor_bndes,subsetor_bndes,porte_do_cliente,natureza_do_cliente,instituicao_financeira_credenciada,cnpj_da_instituicao_financeira_credenciada,tipo_de_garantia,tipo_de_excepcionalidade,situacao_do_contrato
0,MUNICIPIO DE RIBEIRAO PRETO,56.024.581/0001-56,PROGRAMA DE MODERNIZACAO DA ADMINISTRACAO TRIB...,SP,RIBEIRAO PRETO,3543402,1247021,2002-01-02,"9,090,000.00","9,007,445.10",...,ADMINISTRACAO PUBLICA EM GERAL ...,COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,GRANDE,ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO MUNICIPAL,----------,----------,"OUTRA, DE NATUREZA ESPECÍFICA OU MISTA",----------,LIQUIDADO
1,INSTITUTO DE DESENVOLVIMENTO SUSTENTAVEL DO BA...,02.275.306/0001-86,PROJETO DIREITO E CIDADANIA; PROJETO DEMONSTRA...,BA,ITUBERA,2917300,1247221,2002-01-03,"706,600.00","745,030.36",...,ATIV ATENCAO A SAUDE HUMANA INTEGR C/ASSIST SO...,COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,MICRO,PRIVADA,----------,----------,NÃO SE APLICA,----------,LIQUIDADO
2,INSTITUTO DE DESENVOLVIMENTO SUSTENTAVEL DO BA...,02.275.306/0001-86,PROJETO DIREITO E CIDADANIA; PROJETO DEMONSTRA...,BA,ITUBERA,2917300,1247221,2002-01-03,"75,691.59","78,500.00",...,ATIV ATENCAO A SAUDE HUMANA INTEGR C/ASSIST SO...,COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,MICRO,PRIVADA,----------,----------,NÃO SE APLICA,----------,LIQUIDADO
3,INSTITUTO DE DESENVOLVIMENTO SUSTENTAVEL DO BA...,02.275.306/0001-86,PROJETO DIREITO E CIDADANIA; PROJETO DEMONSTRA...,BA,ITUBERA,2917300,1247221,2002-01-03,"603,981.41","653,834.69",...,ATIV ATENCAO A SAUDE HUMANA INTEGR C/ASSIST SO...,COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,MICRO,PRIVADA,----------,----------,NÃO SE APLICA,----------,LIQUIDADO
4,ACEF S/A,46.722.831/0001-78,AQUISICAO DE EQUIPAMENTOS NACIONAIS E MOBILIAR...,SP,FRANCA,3516200,1255421,2002-01-09,"340,201.00","340,189.32",...,EDUCACAO SUPERIOR - GRADUACAO ...,COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,GRANDE,PRIVADA,BANCO BRADESCO S.A.,60746948000112,DEFINIDA PELO AGENTE FINANCEIRO,----------,LIQUIDADO

In [66]:
auto.head()

,cliente,cpf_cnpj,uf,municipio,municipio_codigo,data_da_contratacao,valor_da_operacao_em_reais,valor_desembolsado_reais,fonte_de_recurso_desembolsos,custo_financeiro,...,subsetor_cnae_agrupado,subsetor_cnae_codigo,subsetor_cnae_nome,setor_bndes,subsetor_bndes,porte_do_cliente,natureza_do_cliente,instituicao_financeira_credenciada,cnpj_do_agente_financeiro,situacao_da_operacao
0,BANCO COOPERATIVO SICOOB S.A.,**.*38.232/0001-**,SP,PEDREGULHO,3537008,2002-01-02,16000,16000.0,RECURSOS LIVRES - TESOURO,TAXA FIXA,...,Agropecuária,A0119900,CULT PLANTAS LAVOURA TEMPORARIA NAO ESPECIFICA...,AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO COOPERATIVO SICOOB S.A.,02.038.232.0001-64,LIQUIDADA
1,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,TRES DE MAIO,4321808,2002-01-02,8047,8047.0,RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
2,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,ERECHIM,4307005,2002-01-02,8104,8104.0,RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
3,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,ERECHIM,4307005,2002-01-02,6304,6304.0,RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
4,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,HUMAITA,4309704,2002-01-02,15000,15000.0,RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA

# **Comparação entre Operações Automáticas e Não Automáticas**

<br><br>

## **1. Desembolso por categoria**

<br>

### **Métricas de Ordenação:**

<br>

* **Tipo**: (``'auto', 'n_auto'``)    Se vai ordenar pela métrica das Operações Automáticas ou Não Automáticas
* **Média**: Valor médio desembolsado por operação unitária da categoria
* **cliente**: Números de clientes da categoria
* **valor_desembolsado_reais**: Soma do valor desembolsado por categoria

<br>

### **Forma de ordenação**

<br>

* **crescente**: (True ou False), ordena os valores de forma crescente ou não 

<br>

## **1.1 Por Natureza do Cliente**

In [155]:
metrica = 'Média' #Opções: 'Média', 'cliente', 'valor_desembolsado_reais'
crescente = False # Opções: True, False
Tipo = 'auto' #Opções: 'auto', 'n_auto'

auto_natureza_cliente = auto.groupby(['natureza_do_cliente']).agg({'cliente':'count', 'valor_desembolsado_reais':'sum'})

auto_natureza_cliente["Média"] = auto_natureza_cliente["valor_desembolsado_reais"]/auto_natureza_cliente["cliente"]

n_auto['natureza_do_cliente'] = n_auto['natureza_do_cliente'].str.strip()

n_auto_natureza_cliente = n_auto.groupby(['natureza_do_cliente']).agg({'cliente':'count', 'valor_desembolsado_reais':'sum'})

n_auto_natureza_cliente["Média"] = n_auto_natureza_cliente["valor_desembolsado_reais"]/n_auto_natureza_cliente["cliente"]

if Tipo == 'auto':

    result = pd.concat([auto_natureza_cliente.sort_values(by = metrica, ascending = crescente), 
                        n_auto_natureza_cliente],
                        axis = 1, 
                        keys=['Operações Automáticas','Operações Não Automáticas'])

elif Tipo == 'n_auto':

    result = pd.concat([auto_natureza_cliente, 
                        n_auto_natureza_cliente.sort_values(by = metrica, ascending = crescente)],
                        axis = 1, 
                        keys=['Operações Automáticas','Operações Não Automáticas'])


result.head()

                                                 Operações Automáticas  \
                                                               cliente
natureza_do_cliente
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO ESTADUAL                    243
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO FEDERAL                       1
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO MUNICIPAL                  3011
PRIVADA                                                        2079716
PÚBLICA INDIRETA                                                   392

                                                                           \
                                                 valor_desembolsado_reais
natureza_do_cliente
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO ESTADUAL            722,844,469.00
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO FEDERAL                 489,000.00
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO MUNICIPAL         2,280,301,020.00
PRIVADA                                                549,814,179,988.00
PÚBLICA INDIRETA                                         4,975,723,602.00

                                                                \
                                                         Média
natureza_do_cliente
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO ESTADUAL   2,974,668.60
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO FEDERAL      489,000.00
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO MUNICIPAL    757,323.49
PRIVADA                                             264,369.84
PÚBLICA INDIRETA                                 12,693,172.45

                                                 Operações Não Automáticas  \
                                                                   cliente
natureza_do_cliente
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO ESTADUAL                        419
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO FEDERAL                           5
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO MUNICIPAL                       574
PRIVADA                                                              17695
PÚBLICA INDIRETA                                                       872

                                                                           \
                                                 valor_desembolsado_reais
natureza_do_cliente
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO ESTADUAL         66,608,663,641.13
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO FEDERAL             242,761,617.83
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO MUNICIPAL         9,978,378,921.28
PRIVADA                                                588,396,235,875.68
PÚBLICA INDIRETA                                       106,909,122,091.83


                                                          Média
natureza_do_cliente
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO ESTADUAL  158,970,557.62
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO FEDERAL    48,552,323.57
ADMINISTRAÇÃO PÚBLICA DIRETA - GOVERNO MUNICIPAL  17,383,935.40
PRIVADA                                           33,252,118.44
PÚBLICA INDIRETA                                 122,602,204.23

## **1.2 Por Setor CNAE**

In [208]:
metrica = 'Média' #Opções: 'Média', 'cliente', 'valor_desembolsado_reais'
crescente = False # Opções: True, False
Tipo = 'auto' #Opções: 'auto', 'n_auto'

auto_setor = auto.groupby(['setor_cnae']).agg({'cliente':'count', 'valor_desembolsado_reais':'sum'})

auto_setor["Média"] = auto_setor["valor_desembolsado_reais"]/setor["cliente"]

n_auto['setor_cnae'] = n_auto['setor_cnae'].str.strip()

n_auto_setor = n_auto.groupby(['setor_cnae']).agg({'cliente':'count', 'valor_desembolsado_reais':'sum'})

n_auto_setor["Média"] = n_auto_setor["valor_desembolsado_reais"]/n_auto_setor["cliente"]

if Tipo == 'auto':

    result = pd.concat([auto_setor.sort_values(by = metrica, ascending = crescente), 
                        n_auto_setor],
                        axis = 1, 
                        keys=['Operações Automáticas','Operações Não Automáticas'])

elif Tipo == 'n_auto':

    result = pd.concat([auto_setor, 
                        n_auto_setor.sort_values(by = metrica, ascending = crescente)],
                        axis = 1, 
                        keys=['Operações Automáticas','Operações Não Automáticas'])

result

                           Operações Automáticas                           \
                                         cliente valor_desembolsado_reais
setor_cnae
INDUSTRIA DE TRANSFORMAÇÃO                307353       147,008,900,341.00
INDUSTRIA EXTRATIVA                        14922         6,283,094,511.00
COMERCIO E SERVICOS                      1426476       366,876,325,747.00
AGROPECUÁRIA E PESCA                      334612        37,625,217,480.00

                                      Operações Não Automáticas  \
                                Média                   cliente
setor_cnae
INDUSTRIA DE TRANSFORMAÇÃO 478,306.38                      6387
INDUSTRIA EXTRATIVA        421,062.49                       186
COMERCIO E SERVICOS        257,190.68                     12263
AGROPECUÁRIA E PESCA       112,444.32                       729


                           valor_desembolsado_reais          Média
setor_cnae
INDUSTRIA DE TRANSFORMAÇÃO       193,944,871,070.96  30,365,566.16
INDUSTRIA EXTRATIVA               24,351,204,817.05 130,920,456.01
COMERCIO E SERVICOS              544,253,405,367.85  44,381,750.42
AGROPECUÁRIA E PESCA               9,585,680,891.90  13,149,082.16

## **1.3 Por Setor BNDES**

In [209]:
metrica = 'Média' #Opções: 'Média', 'cliente', 'valor_desembolsado_reais'
crescente = False # Opções: True, False
Tipo = 'auto' #Opções: 'auto', 'n_auto'

auto_setor = auto.groupby(['setor_bndes']).agg({'cliente':'count', 'valor_desembolsado_reais':'sum'})

auto_setor["Média"] = auto_setor["valor_desembolsado_reais"]/auto_setor["cliente"]

auto['setor_bndes'] = auto['setor_bndes'].str.strip()
n_auto['setor_bndes'] = n_auto['setor_bndes'].str.strip()
n_auto['setor_bndes'].loc[n_auto.setor_bndes == 'INFRAESTRUTURA'] = 'INFRA-ESTRUTURA'

n_auto_setor = n_auto.groupby(['setor_bndes']).agg({'cliente':'count', 'valor_desembolsado_reais':'sum'})

n_auto_setor["Média"] = n_auto_setor["valor_desembolsado_reais"]/n_auto_setor["cliente"]

if Tipo == 'auto':

    result = pd.concat([auto_setor.sort_values(by = metrica, ascending = crescente), 
                        n_auto_setor],
                        axis = 1, 
                        keys=['Operações Automáticas','Operações Não Automáticas'])

elif Tipo == 'n_auto':

    result = pd.concat([auto_setor, 
                        n_auto_setor.sort_values(by = metrica, ascending = crescente)],
                        axis = 1, 
                        keys=['Operações Automáticas','Operações Não Automáticas'])

result

                  Operações Automáticas                                      \
                                cliente valor_desembolsado_reais      Média
setor_bndes
INDUSTRIA                        322275       153,291,994,852.00 475,655.87
INFRA-ESTRUTURA                  870722       224,160,220,319.00 257,441.78
COMERCIO/SERVICOS                555754       142,716,105,428.00 256,797.26
AGROPECUÁRIA                     334612        37,625,217,480.00 112,444.32

                  Operações Não Automáticas                           \
                                    cliente valor_desembolsado_reais
setor_bndes
INDUSTRIA                              6573       218,296,075,888.01
INFRA-ESTRUTURA                        8194       429,180,312,897.96
COMERCIO/SERVICOS                      4069       115,073,092,469.89
AGROPECUÁRIA                            729         9,585,680,891.90


                          Média
setor_bndes
INDUSTRIA         33,211,026.30
INFRA-ESTRUTURA   52,377,387.47
COMERCIO/SERVICOS 28,280,435.60
AGROPECUÁRIA      13,149,082.16

## **1.4 Por Porte do Cliente**

In [210]:
metrica = 'Média' #Opções: 'Média', 'cliente', 'valor_desembolsado_reais'
crescente = False # Opções: True, False
Tipo = 'auto' #Opções: 'auto', 'n_auto'

auto_porte = auto.groupby(['porte_do_cliente']).agg({'cliente':'count', 'valor_desembolsado_reais':'sum'})

auto_porte["Média"] = auto_porte["valor_desembolsado_reais"]/auto_porte["cliente"]

n_auto_porte = n_auto.groupby(['porte_do_cliente']).agg({'cliente':'count', 'valor_desembolsado_reais':'sum'})

n_auto_porte["Média"] = n_auto_porte["valor_desembolsado_reais"]/n_auto_porte["cliente"]

result = pd.concat([auto_porte.sort_values(by = metrica, ascending = crescente), 
                    n_auto_porte],
                    axis = 1, 
                    keys=['Operações Automáticas','Operações Não Automáticas'])

if Tipo == 'auto':

    result = pd.concat([auto_porte.sort_values(by = metrica, ascending = crescente), 
                        n_auto_porte],
                        axis = 1, 
                        keys=['Operações Automáticas','Operações Não Automáticas'])

elif Tipo == 'n_auto':

    result = pd.concat([auto_porte, 
                        n_auto_porte.sort_values(by = metrica, ascending = crescente)],
                        axis = 1, 
                        keys=['Operações Automáticas','Operações Não Automáticas'])

result

                 Operações Automáticas                                      \
                               cliente valor_desembolsado_reais      Média
porte_do_cliente
GRANDE                          364372       237,200,734,516.00 650,985.08
MÉDIA                           342310       140,390,982,887.00 410,128.20
PEQUENA                         428387        85,459,453,275.00 199,491.24
MICRO                           948294        94,742,367,401.00  99,908.22

                 Operações Não Automáticas                           \
                                   cliente valor_desembolsado_reais
porte_do_cliente
GRANDE                               17101       751,788,042,675.28
MÉDIA                                 1188        15,690,606,325.55
PEQUENA                                731         2,023,934,055.24
MICRO                                  545         2,632,579,091.67


                         Média
porte_do_cliente
GRANDE           43,961,642.17
MÉDIA            13,207,581.08
PEQUENA           2,768,719.64
MICRO             4,830,420.35

## **1.5 Por UF**

In [211]:
metrica = 'Média' #Opções: 'Média', 'cliente', 'valor_desembolsado_reais'
crescente = False # Opções: True, False
Tipo = 'auto' #Opções: 'auto', 'n_auto'

auto_uf = auto.groupby(['uf']).agg({'cliente':'count', 'valor_desembolsado_reais':'sum'})

auto_uf["Média"] = auto_uf["valor_desembolsado_reais"]/auto_uf["cliente"]

auto['uf'] = auto['uf'].str.strip()
n_auto['uf'] = n_auto['uf'].str.strip()

n_auto_uf = n_auto.groupby(['uf']).agg({'cliente':'count', 'valor_desembolsado_reais':'sum'})

n_auto_uf["Média"] = n_auto_uf["valor_desembolsado_reais"]/n_auto_uf["cliente"]

if Tipo == 'auto':

    result = pd.concat([auto_uf.sort_values(by = metrica, ascending = crescente), 
                        n_auto_uf],
                        axis = 1, 
                        keys=['Operações Automáticas','Operações Não Automáticas'])

elif Tipo == 'n_auto':

    result = pd.concat([auto_uf, 
                        n_auto_uf.sort_values(by = metrica, ascending = crescente)],
                        axis = 1, 
                        keys=['Operações Automáticas','Operações Não Automáticas'])

result

   Operações Automáticas                                      \
                 cliente valor_desembolsado_reais      Média
uf
RJ             79,365.00        30,006,121,109.00 378,077.50
SP            434,734.00       155,765,261,635.00 358,300.16
AM             13,602.00         4,407,210,005.00 324,011.91
MT             53,894.00        17,064,543,615.00 316,631.60
DF             14,455.00         4,387,634,521.00 303,537.50
TO             16,533.00         4,850,581,549.00 293,387.86
MS             32,311.00         9,390,979,534.00 290,643.42
MG            232,436.00        64,300,918,024.00 276,639.24
PA             29,550.00         8,133,361,742.00 275,240.67
GO             73,032.00        19,210,539,167.00 263,042.76
CE             33,254.00         8,582,999,610.00 258,104.28
BA             72,898.00        18,481,818,330.00 253,529.84
PE             49,772.00        12,174,195,996.00 244,599.29
PR            275,219.00        64,922,091,147.00 235,892.48
MA             22,230.00         5,101,371,733.00 229,481.41
RN             12,941.00         2,954,740,887.00 228,324.00
SE              8,564.00         1,923,452,235.00 224,597.41
SC            216,139.00        48,022,035,309.00 222,181.26
AL              9,888.00         2,183,800,052.00 220,853.57
PI              9,797.00         2,134,822,243.00 217,905.71
AP              2,366.00           504,905,901.00 213,400.63
ES             62,616.00        13,311,967,750.00 212,596.90
PB             13,206.00         2,661,604,884.00 201,545.12
RO             19,500.00         3,684,846,477.00 188,966.49
RS            288,488.00        52,531,679,615.00 182,093.12
AC              4,520.00           757,418,718.00 167,570.51
RR              2,053.00           342,636,291.00 166,895.42
IE                   NaN                      NaN        NaN

   Operações Não Automáticas
                     cliente valor_desembolsado_reais          Média
uf
RJ                      1955        93,525,633,483.82  47,839,198.71
SP                      4586       129,225,471,175.93  28,178,253.64
AM                       161         7,017,906,105.42  43,589,478.92
MT                       382        18,108,456,623.15  47,404,336.71
DF                       124        20,814,162,008.21 167,856,145.23
TO                        99         5,769,742,831.72  58,280,230.62
MS                       375        16,221,431,009.30  43,257,149.36
MG                      1507        38,511,813,600.13  25,555,284.41
PA                       297        39,794,267,221.91 133,987,431.72
GO                       594        14,587,216,351.07  24,557,603.28
CE                       485        16,825,574,310.83  34,691,905.80
BA                      1024        44,082,451,555.90  43,049,269.10
PE                       459        34,108,375,001.89  74,310,185.19
PR                      1032        27,802,251,256.53  26,940,165.95
MA                       201        16,770,218,132.05  83,433,921.05
RN                       511        13,126,449,835.52  25,687,768.76
SE                        97         1,932,394,613.47  19,921,593.95
SC                      1174        23,619,543,670.95  20,118,861.73
AL                        68         1,715,831,576.53  25,232,817.30
PI                       222         7,430,012,019.64  33,468,522.61
AP                        41         2,883,517,082.43  70,329,684.94
ES                       269         9,436,044,924.39  35,078,233.92
PB                        94         3,088,097,712.39  32,852,103.32
RO                       169        19,014,813,601.34 112,513,689.95
RS                      1419        28,558,801,314.36  20,126,005.15
AC                        63         2,547,242,298.01  40,432,417.43
RR                         5           254,492,375.27  50,898,475.05
IE                      2152       135,362,950,455.61  62,900,999.28